.logo {
  display: block;
  transition: $transition;

  @include media('>=lg') {
    margin-right: 55px;
  }

  &__link,
  &__image-container {
    display: block;
  }

  &__image {
    width: 140px;
    height: 47px;
    transition: $transition;

    @include media('>=md') {
      width: 354px;
      height: 82px;
    }

    @include media('>=lg') {
      width: 353px;
      height: 75px;
    }

    @include media('>=xl') {
      width: 470px;
      height: 93px;
    }
  }
}
