<h1 class="page-header__logo logo">
  <a class="logo__link" href="#">
    <picture class="logo__image-container">
      <source media="(max-width: 767px)" srcset="%=static=%img/assets/page-header/logo-sm.svg" />
      <source media="(max-width: 1279px)" srcset="%=static=%img/assets/page-header/logo-md.svg" />
      <source media="(max-width: 1919px)" srcset="%=static=%img/assets/page-header/logo-lg.svg" />
      <img
        class="logo__image"
        src="%=static=%img/assets/page-header/logo-xl.svg"
        alt="логотип компании Stat4Market"
      />
    </picture>
  </a>
</h1>
