.about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  transition: $transition;

  &__heading {
    @include padding-x(24px);
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    transition: $transition;

    @include media('>=md') {
      margin-bottom: 90px;
      font-size: 40px;
      line-height: 64px;
    }

    @include media('>=lg') {
      max-width: 60%;
    }

    @include media('>=xl') {
      font-size: 48px;
      line-height: 64px;
    }
  }

  &__list-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    transition: $transition;

    @include media('>=md') {
      flex-flow: row nowrap;
      align-items: flex-start;
      margin-bottom: 14px;

      &:last-of-type {
        .icon {
          order: 5;
          margin-left: 40px;
          margin-right: initial;

          @include media('>=lg') {
            margin-left: 80px;
          }
        }
      }
    }

    @include media('>=lg') {
      align-items: center;
      margin-bottom: initial;
    }

    .icon {
      margin-bottom: 35px;
      transition: $transition;

      @include media('>=md') {
        margin-right: 40px;
      }

      @include media('>=lg') {
        margin-right: 80px;

        &.icon--tablet {
          width: 352px;
          height: 362px;
        }
        &.icon--notebook {
          width: 358px;
          height: 358px;
        }
      }

      @include media('>=xl') {
        &.icon--tablet {
          width: 456px;
          height: 469px;
        }
        &.icon--notebook {
          width: 474px;
          height: 474px;
        }
      }
    }
  }

  &__content-block {
    max-width: 100%;
    transition: $transition;

    @include media('>=md') {
      max-width: 60%;
    }

    @include media('>=md') {
      max-width: 45%;
    }

    @include media('>=xl') {
      max-width: 50%;
    }
  }

  &__text {
    transition: $transition;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    @include media('>=md') {
      font-size: 20px;
      line-height: 32px;

      &:not(:last-of-type) {
        margin-bottom: 14px;
      }
    }

    @include media('>=xl') {
      font-size: 25px;
      line-height: 40px;
    }
  }
}
