.profile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  margin-left: auto;
  transition: $transition;

  @include media('>=md') {
    align-self: initial;
  }
}
