.intro {
  position: relative;
  display: block;
  margin-bottom: 85px;
  transition: $transition;

  @include media('>=md') {
    margin-bottom: 65px;
  }

  @include media('>=lg') {
    margin-bottom: 75px;
  }

  @include media('>=xl') {
    margin-bottom: 145px;
  }

  &__heading {
    max-width: 60%;
    margin-bottom: 28px;
    font-family: $main-font;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    transition: $transition;

    @include media('>sm') {
      max-width: initial;
    }

    span {
      color: $secondary-color;
    }

    @include media('>=md') {
      margin-bottom: 20px;
      font-size: 46px;
      line-height: 65px;
    }

    @include media('>=lg', '<xl') {
      margin-bottom: 40px;
    }

    @include media('>=xl') {
      font-size: 56px;
      line-height: 80px;
    }
  }

  &__image-container {
    display: block;
  }

  &__image {
    display: none;
    margin-bottom: 16px;
    padding-left: 16px;

    @include media('>sm') {
      display: block;
      float: right;
    }
  }

  &__text {
    transition: $transition;

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    @include media('>=md') {
      font-size: 20px;

      &:not(:last-of-type) {
        margin-bottom: 16px;
      }
    }

    @include media('>=xl') {
      font-size: 25px;
      line-height: 40px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -45px;
    right: -125px;
    display: block;
    width: 245px;
    height: 245px;
    background-image: url('%=static=%assets/intro/superman-mobile.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: $transition;

    @include media('>sm') {
      display: none;
    }
  }
}
