<section class="intro">
  <h2 class="intro__heading"><span>Обучающие курсы</span> для поставщиков на маркетплейсы</h2>
  {{> price/price }}
  <picture class="intro__image-container">
    <source media="(max-width: 1279px)" srcset="%=static=%img/assets/intro/superman-mobile.svg" />
    <img
      class="intro__image"
      src="%=static=%img/assets/intro/superman-desktop.svg"
      alt="изображение супермена"
    />
  </picture>
  <p class="intro__text">
    Обучающие курсы по&nbsp;работе и&nbsp;продвижению на&nbsp;маркетплейсах от&nbsp;практикующих селлеров
  </p>
  <p class="intro__text">
    Добро пожаловать в&nbsp;Академию. Это место для эффективного обучения, где мы&nbsp;рассказываем, как
    работают маркетплейсы и&nbsp;никогда не&nbsp;вдаемся в&nbsp;теорию, которая не&nbsp;понадобится
    на&nbsp;практике.
  </p>
  <p class="intro__text">
    Наши уроки помогут понять логику работы площадок и&nbsp;взять управление продажами в&nbsp;свои руки,
    а&nbsp;не&nbsp;действовать наугад. Становись экспертом в&nbsp;работе с&nbsp;маркетплейсами
    и&nbsp;увеличивай свою прибыль&nbsp;&mdash; мы&nbsp;разработали курсы, которые приведут тебя
    к&nbsp;результату быстро и&nbsp;захватывающе.
  </p>
</section>
