.price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

  @include media('>=lg') {
    margin-bottom: 44px;
  }

  .icon {
    margin-right: 26px;
  }

  &__text {
    font-family: $main-font;
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -1px;

    span {
      font-weight: 600;
      font-size: 38px;
      color: $secondary-color;
    }
  }
}
