.breadcrumbs {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 45px;

  @include media('>=md') {
    margin-bottom: 20px;
  }

  &__item {
    font-size: 16px;
    line-height: 1;

    &:not(:last-of-type) {
      &::after {
        content: '\00a0\2014\00a0';
      }
    }
  }

  &__link {
    text-transform: capitalize;
    text-decoration: none;

    &:any-link {
      color: rgba($color: $primary-color, $alpha: 0.5);
    }
  }
}
