.page {
  display: block;
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 30px;
  width: inherit;
  min-width: map-get($map: $breakpoints, $key: sm);
  max-width: map-get($map: $breakpoints, $key: xl);
  overflow-x: hidden;
  transition: $transition;

  &::before {
    content: '';
    position: fixed;
    top: -110px;
    left: -420px;
    display: none;
    width: 446px;
    height: 446px;
    background-image: url('%=static=%assets/page/bg-ellipse1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: $transition;

    @include media('>=lg') {
      display: block;
    }

    @include media('>=xl') {
      top: -180px;
      left: -680px;
      width: 782px;
      height: 782px;
    }
  }

  &::after {
    content: '';
    position: fixed;
    top: 380px;
    right: -720px;
    display: none;
    width: 759px;
    height: 759px;
    background-image: url('%=static=%assets/page/bg-ellipse2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: $transition;

    @include media('>=xl') {
      display: block;
    }
  }

  @include media('>=lg') {
    @include padding-x(40px);
    padding-top: 20px;
    padding-bottom: 60px;
  }

  @include media('>=xl') {
    @include padding-x(195px);
    padding-top: 20px;
    padding-bottom: 120px;
  }
}
