.feature {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  @include media('>=md') {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: initial;
  }

  &__icon {
    width: 110px;
    height: 110px;
    transform: translateX(-25px);

    @include media('>=md') {
      width: 130px;
      height: 130px;
      transform: translateX(-30px);
    }
  }

  &__heading {
    @include padding-x(30px);
    margin-top: -10px;
    margin-bottom: 5px;
    text-align: center;

    @include media('>=md') {
      @include padding-x(initial);
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 30px;
      text-align: left;
    }

    @include media('>=lg') {
      font-size: 24px;
      line-height: 36px;
    }

    @include media('>=xl') {
      margin-bottom: 18px;
    }
  }

  &__description {
    @include padding-x(30px);
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    @include media('>=md') {
      @include padding-x(initial);
      text-align: left;
    }

    @include media('>=lg') {
      font-size: 18px;
      line-height: 29px;
    }
  }
}
